
<div class='container marketing' style='style='padding-left:10%; padding-right:10%;' padding-right:10%;'>
<div id="page-content-wrapper">
  <% @espacio='&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'%>
  <h1 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; padding-bottom:7px;">Contáctanos</h1>
	<table>
  		<col width="60%">
 		<col width="40%">
		<tr>
			<td>
        <p style="text-align: center;"><img class="first-slide"src="/assets/contact.jpg" width="90%"/> </p>
      </td>
      <td>
				<br>
				<h4 style="text-align: left;">A la <strong>FUNDACIÓN</strong> nos encanta saber de nuestros usuarios.</h4>
				<p style="text-align: left;">Contáctanos por teléfono, correo electrónico o correo regular: </p>
				<p style="text-align: left; padding-left:5%;"><i class="fa fa-map"></i> <strong>Dirección: </strong></p>
				<p style="text-align: left; padding-left:5%;"><%=@espacio.html_safe%>Fundación "Hecho en Bolivia"<br>
				<%=@espacio.html_safe%>Calle Jordán # 522 <br>
          <%=@espacio.html_safe%>Esq. San Martín Edif. Comboni <br>
          <%=@espacio.html_safe%>Center 5 Piso Of 505<br>
          <%=@espacio.html_safe%>Cochabamba, Bolivia </p>
				<p style="text-align: left; padding-left:5%;"><strong><i class="fa fa-phone"></i> Teléfono: </strong><br><%=@espacio.html_safe%>+591 72201071 | Oscar Buendia <i>Gerente General</i></p>
				<p style="text-align: left; padding-left:5%;"><strong><i class="fa fa-envelope"></i> Correo electrónico:<br></strong> <%=@espacio.html_safe%>info@fundacionhechoenbolivia.org
  				<p style="text-align: left; padding-left:5%;"><strong><i class="fa fa-clock-o"></i> Horario de atención:</strong><br> <%=@espacio.html_safe%>Lunes a Viernes <br> <%=@espacio.html_safe%>8.00-12.00 &amp; 13.00-18.00.</p>
			</td>
		</tr>
	</table>
</div>
</div>
<br>
