

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="container">
<h1 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; padding-bottom:7px;">Nuestro Directorio</h1>
<br>
             
  <table class="table">
    
    <tbody>
        <tr class="info">
         <td>
          <img width="100" height="100" src=<%=asset_path "luisfernando.jpg" %>>
        </td>
        <td>
          
          <br> 
          <b>Nombre:</b> LUIS FERNANDO 
        <br> 
          <b>Apellido:</b> LAREDO ARELLANO 
          <br>
          <b>Empresa: </b>CIMCO LTDA. 
          <br>
         <b> Puesto: </b>PRESIDENTE 


        </td>
        
        
       
      </tr>
       <tr class="success">
          <td>
          <img width="100" height="100" src=<%=asset_path "milton.jpg" %>>
        </td>
        <td>
          
          <br> 
         <b> Nombre:</b> MILTON ALBERTO 
        <br> 
          <b>Apellido:</b> ENCINAS MONTAÑO 
          <br>
          <b>Empresa: </b>FACER S.R.L 
          <br>
          <b>Puesto:</b> VICE PRESIDENTE 


        </td>
        
       
      </tr>

         <tr class="info">
           <td>
          <img width="100" height="100" src=<%=asset_path "tania.jpg" %>>
        </td>
        <td>
          
          <br> 
          <b>Nombre: </b>TANIA ELIZABETH  
        <br> 
          <b>Apellido:</b> CLAROS VARGAS 
          <br>
        <b>Empresa:</b> UNILEVER ANDINA BOLIVIA S.A. 
                    <br>
         <b> Puesto: </b>TESORERA 


        </td>
       
       
       
      </tr>
      
         <tr class="success">
          <td>
          
        </td>
        <td>
          
          <br> 
         <b> Nombre: </b>DIEGO 
        <br> 
          <b>Apellido: </b>ARGANDOÑA ARAMAYO
          <br>
          <b>Empresa: </b>COPELME S.A.
          <br>
         <b> Puesto:</b> DIRECTOR 


        </td>
         
        
       
      </tr>
      
      <tr class="info">
         <td>
          <img width="100" height="100" src=<%=asset_path "javierluis.jpg" %>>
        </td>
        <td>
          
          <br> 
         <b> Nombre:</b> JAVIER LUIS  
        <br> 
         <b> Apellido: </b>LUJAN CONTRERAS  
          <br>
         <b> Empresa: </b>YPFB REFINACION S.A. 
          <br>
         <b> Puesto:</b> DIRECTOR 


        </td>
       
      </tr>
      <tr class="success">
        <td>
          <img width="100" height="100" src=<%=asset_path "ivanmario.jpg" %>>
        </td>
        <td>
          
          <br> 
         <b> Nombre: </b>IVAN MARIO  
        <br> 
         <b> Apellido: </b>VILLCA AREVILLCA 
          <br>
          <b>Empresa: </b>COBOCE LTDA.
          <br>
         <b> Puesto: </b>DIRECTOR 


        </td>
       
      </tr>
      <tr class="info">
        <td>
          <img width="100" height="100" src=<%=asset_path "joseguillermo.jpg" %>>
        </td>
        <td>
          
          <br> 
         <b> Nombre: </b>JOSE GUILLERMO   
        <br> 
         <b> Apellido: </b>MENDIZABAL TERAN
          <br>
          <b>Empresa: </b>PROALBO
          <br>
          <b>Puesto: </b>DIRECTOR 


        </td>
        
       
      </tr>
       
    
      
        
    
        
      
    </tbody>
  </table>
</div>

</body>
</html>
